.cabecalho__menu-hamburguer {
    height: 24px;
    width: 36px;
    background-image: url("../assets/menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-right: 1em;
}

.container {
    display: flex;
    align-items: center;
}

.container__rotulo {
    padding: 0.5em;
}

.container__logo {
    margin-right: auto;
}

.container__imagem {
    padding: 1em 0.5em;
}

.container__titulo {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url('../assets/menu-aberto.svg');
}

.container__botao:checked ~ .lista-menu {
    display: block;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    font-weight: 700;
    color: var(--cor-titulo);
}

.lista-menu__link {
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 0 3em;
    }

    .container__rotulo {
        display: none;
    }

    .container__logo {
        display: flex;
        align-items: center;
        margin-right: 0%;
    }

    .container__titulo, .container__titulo-negrito {
        font-family: var(--fonte-secundaria);
        font-size: 1.875rem;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .container__imagem {
        padding: 1em 1em;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 2em 2em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-favoritos {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 0 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__titulo {
        margin-right: 3em;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        padding-right: 2em;
    }

    .container__texto {
        display: block;
    }
}